@use '../helpers/' as *;

.summary {
  &__list {
    display: flex;
    column-gap: fluid(50, 20);
  }

  &__item {
    display: grid;
    column-gap: rem(4);

    @include laptop {
      column-gap: rem(2);
    }
  }

  &__value {
    color: var(--color-light);
  }
}